@import "tailwindcss";
@import url('../../public/fonts/css/general-sans.css');

@import "./shadcn.css";

:root {
  --background: #F5F5F5;
  --foreground: #323232;
}

@theme {
  --color-accent: #6100FF;
  --text-large: 64px;
}

/* There is no dark mode planned for this project yet */
@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--background);/*#0a0a0a;*/
    --foreground: var(--foreground);/*#ededed;*/
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'GeneralSans-Variable', sans-serif;
}